[Desktop Entry]
Name=Tealinux Installer
Categories=Development
Exec=sh -c "sudo env WAYLAND_DISPLAY=$XDG_RUNTIME_DIR/$WAYLAND_DISPLAY XDG_RUNTIME_DIR=/run/user/0 /bin/tealinux-installer"
Icon=tealinux-installer
Terminal=false
Type=Application
